<h1>Submit an Trapple</h1>
 

<%= render 'form', friend: @friend %>


<br>

<%= link_to 'Back', root_path ,class:'btn btn-dark' %>





</html>








<link id="staticAssetCSS0" rel="stylesheet" href="https://cdn.iso.org/resources/wood/3.3.1/wood.full.min.css" media="screen,print,handheld" type="text/css"/>




  <body class="theme-red" id="offcanvas-content">

         

    




        
</div></li></ul>

      </div>
    </div>
  </div>
</section>

</div>
      </div>
    </div>
  </div>


  </br></br></br></br></br>






</section><div class="clear"></div>
      <div class="nav-breadcrumb print-footer bg-darkgray">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 small">
              <!-- BREADCRUMB -->
              <ol class="breadcrumb">

    
      <li><a href="/home.html" title="Home page"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
    
  
        <li>
          <%= link_to "home" ,
          root_path  %>
             
            
        </li>
      
        <li>
          
 <%= link_to "login" ,
         user_session_path %>

        </li>
      
        <li>
          
              <%= link_to "qualification" ,
          qualifications_index_path  %>
            
        </li>
      
    
    
      
    
  </ol><div class="clear"></div>

            </div>
           
          </div>

          <div class="collapse border-top" id="collapseSitemap">
            <div class="row">
              <!-- SITEMAP -->
              <nav role="navigation" aria-label="Sitemap" class="sitemap-footer clearfix small" id="nav-sitemap"></nav><div class="clear"></div>
            </div>
          </div>
        </div>
      </div>

      
      <footer role="contentinfo" aria-label="Footer" class="footer-iso footer-dark bg-darkergray">
        <div class="container">
          <div class="footer-links center-block">
            <!-- FOOTER LINKS -->
            <nav role="navigation" aria-label="Inline Navigation"  ><li role="none" class="noChildren"><p>Contact us</p></li></nav><div class="clear"></div>
          </div>
          <div class="footer-social ss-icon clearfix">
            <ul itemscope itemtype="https://schema.org/Organization">
              <link itemprop="url" href="https://www.iso.org/">
              <li><a itemprop="sameAs" target="_blank" rel="noopener" href="https://www.facebook.com/profile.php?id=100006094989603" title="Facebook"></a></li>
              <li><a itemprop="sameAs" target="_blank" rel="noopener" href="https://twitter.com/Osama99Ahmed" title="Twitter"></a></li>
              <li><a itemprop="sameAs" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCcPCfO7UvAtieIHyUFyQ5Sw" title="YouTube"></a></li>
              <li><a itemprop="sameAs" target="_blank" rel="noopener" href="https://www.linkedin.com/in/ahmed-osama-765847181/" title="Linkedin"></a></li>
              <li><a itemprop="sameAs" target="_blank" rel="noopener" href="https://www.instagram.com/ahmed_osama_xx/" title="Instagram"></a></li>
              
            </ul>
          </div>
          <p class="lead">We wish that our services help you </p>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 pull-left">
              <p class="text-xs"> If you have any questions or suggestions regarding the accessibility of this site, please contact us 
              <p class="text-sm"> </p>
            </div>
          </div>
        </div>
     
      
      </footer>

    </main>

    

  </body>
</html>